html {
	height: 100%;
}
body {
	height: 100%;
	margin: 0px;
	overflow: hidden;
	padding: 0px;
	width: 100%;
}
/*
.claro {
  font-family: 'Open Sans',Verdana,Arial,Helvetica,sans-serif;
}
*/
.claro .dijitRuleLabel {
   /* make map zoom slider labels white, claro uses black by default */
   //display: none;
   color: white;
}
.claro .dijitRuleMark {
   border: 1px solid #fff;
}
.esriLargeSliderTicks { 
   //display: none; 
}
.claro label {
   font-weight: 400;
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}
.claro .navbar {
	background: rgba(0, 0, 0, 0.8);
}
.noselect {
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}
#map-container {
	border: 0px solid gray;
	height: 100%;
	left: 0px;
	margin: 0 0 0 0;
	overflow: hidden;
	padding: 0px;
	position: absolute;
	top: 0px;
	width: 100%;
}
#map_canvas {
   padding: 0;
   margin: 0;
   height: 100%;
	background-color: rgb(229, 227, 223);
	border: 0px solid transparent;
	height: 100%;
	left: 0px;
	overflow: hidden;
	position: relative;
	top: 0px;
	width: 100%;
}
.panel-heading {
   position: relative;
}
.panel-heading .btn-expand {
   position: absolute;
   top: 9px;
   right: 9px;
   border: none;
   outline: none;
}
.hideShowLayerBtn {
   cursor: pointer;
}
#menuDiv {
   right: 10px;
   top: 65px;
   background: transparent;
   border: none;
}
.claro .panel-fixed .panel-body {
   /*
   max-height: calc(100% - (500px));
	max-height: -webkit-calc(100% - (500px));
   */
   max-height: 560px;
}
.claro .panel-heading {
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}
@media (max-width: 760px) {
   #query {
      width: 200px;
   }
   #navbar > .navbar-form {
      width: 500px;
   }
}
@media (min-width: 1200px) {
   #query {
      width: 475px;
   }
   #navbar > .navbar-form {
      width: 525px;
   }
}
#search-bar-nav {
    border: 0px solid red;
    max-height: 34px;
    width: 350px;
}
#stats {
	background: transparent;
	border: 0px solid transparent;
	bottom: 50px;
	color: white;
	display: block;
	font-size: 14px;
   font-weight: bold;
	line-height: 20px;
	opacity: 1;
	padding: 2px;
	position: absolute;
	right: 19px;
	text-align: right;
	//text-shadow: black 2px 2px 3px;
   text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
	vertical-align: middle;
	//webkit-text-shadow: black 2px 2px 3px;
	webkit-text-shadow: 
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
#loadingPanel {
   display: none;
	position: absolute;
	bottom: 35px;
	right: 19px;
	z-index: 5;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
#spinnerContainer {
	display: inline-block;
	border: 1px solid red;
	padding: 20px;
   height: 20px;
   width: 40px;
}
#spinner {
	background: transparent;
	opacity: 1;
}
#geocodepanel {
   opacity: 0.2;
	background-color: #fff;
	border: 1px solid #999;
	left: 5px;
   max-width: 300px;
	padding: 5px;
	position: absolute;
	top: 65px;
	z-index: 5;
}
#geocodepanel:hover {
   opacity: 1.0;
}
#keyboard-shortcut-modal {
   display: none;
}
#latlong {
	background: transparent;
	border: 0px solid transparent;
	bottom: 20px;
	color: white;
	display: block;
	font-size: 11px;
	line-height: 12px;
	opacity: 1;
	padding: 2px;
	position: absolute;
	right: 19px;
	text-align: left;
	text-shadow: black 2px 2px 3px;
   /*
   text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    */
	vertical-align: middle;
	webkit-text-shadow: black 2px 2px 3px;
	/*
   webkit-text-shadow: 
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    */
}
#lastUpdated {
	background: transparent;
	border: 0px solid transparent;
	bottom: 35px;
	color: white;
	display: block;
	font-size: 11px;
	line-height: 12px;
	opacity: 1;
	padding: 2px;
	position: absolute;
	right: 19px;
	text-align: left;
	text-shadow: black 2px 2px 3px;
   /*
   text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    */
	vertical-align: middle;
	webkit-text-shadow: black 2px 2px 3px;
	/*
   webkit-text-shadow: 
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    */
}
#clusterlabel {
	filter: Shadow(Color=#FFF, Direction=45, Strength=2);
	font-size: 14px;
	font-weight: bold;
	line-height: 12px;
	text-shadow: -1px -1px 0 #FFF,
   1px -1px 0 #FFF,
   -1px 1px 0 #FFF,
   1px 1px 0 #FFF;
   webkit-text-shadow: -1px -1px 0 #FFF,
   1px -1px 0 #FFF,
   -1px 1px 0 #FFF,
   1px 1px 0 #FFF;
}
#content {
	font-size: 10px;
	padding: 0;
}
#content b {
	color: #205c6f;
}
#content-left {
	display: inline-block;
	float: left;
	padding: 2px;
}
#content-right {
	border: 0px solid #cccccc;
	display: inline-block;
	float: left;
	margin-left: auto;
	min-width: 160px;
	overflow: hidden;
	padding: 2px;
}
#content-sub {
	border: 1px solid #cccccc;
	padding: 2px;
}
#content-port {
	border: 1px solid #cccccc;
	display: block;
	max-width: 174px;
	padding: 2px;
}
.layerHeading:hover {
    cursor: move;
}
.panel-title {
   .noselect;
   cursor: pointer;
}
