html
{
	height: 100%;
}
body
{
	height: 100%;
	margin: 0px;
	overflow: hidden;
	padding: 0px;
	width: 100%;
}
.claro {
  font-family: 'Open Sans',Verdana,Arial,Helvetica,sans-serif;
}
.claro .dijitRuleLabel {
   /* make map zoom slider labels white, claro uses black by default */
   //display: none;
   color: white;
}
.claro .dijitRuleMark {
   border: 1px solid #fff;
}
.esriLargeSliderTicks { 
   //display: none; 
}
.claro label {
   font-weight: 400;
}
.claro .navbar {
	background-color: rgba(0, 0, 0, 0.8);   
}
#map-container {
	border: 0px solid gray;
	height: 100%;
	left: 0px;
	margin: 0 0 0 0;
	overflow: hidden;
	padding: 0px;
	position: absolute;
	top: 0px;
	width: 100%;
}
#mapDiv {
   padding: 0;
   margin: 0;
   height: 100%;
	background-color: rgb(229, 227, 223);
	border: 0px solid transparent;
	height: 100%;
	left: 0px;
	overflow: hidden;
	position: relative;
	top: 0px;
	width: 100%;
}
#menuDiv {
   right: 10px;
   top: 65px;
}
.claro .panel-fixed .panel-body {
   /*
   max-height: calc(100% - (500px));
	max-height: -webkit-calc(100% - (500px));
   */
   max-height: 600px;
}
.claro .panel-heading {
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}
@media (max-width: 760px) {
   #query {
      /*
      width: calc(100% - (20px));
      width: -webkit-calc(100% - (20px));
       */
      width: 200px;
   }
   #navbar > .navbar-form {
      width: 300px;
   }
}
@media (min-width: 1200px) {
   #query {
      width: 475px;
   }
   #navbar > .navbar-form {
      width: 525px;
   }
}   

#stats_nav
{
   border: 0px solid blue;
	display: inline-block;
	float: left;
	height: 60px;
	line-height: 20px;
	position: relative;
	text-align: left;
	vertical-align: middle;
	width: 100px;
}
#stats
{
	border: 0px solid red;
	display: inline-block;
	height: 40px;
	line-height: 20px;
	position: relative;
	text-align: left;
	top: 10px;
	vertical-align: middle;
}
#busy_indicator
{
	border: 0px red solid;
	display: inline-block;
	float: left;
	height: 60px;
	left: 20px;
	position: absolute;
	visibility: visible;
	width: 32px;
	z-index: 2;
}
#content
{
	font-size: 10px;
	padding: 0;
}
#content b
{
	color: #205c6f;
}
#content-left
{
	display: inline-block;
	float: left;
	padding: 2px;
}
#content-right
{
	border: 0px solid #cccccc;
	display: inline-block;
	float: left;
	margin-left: auto;
	min-width: 180px;
	overflow: hidden;
	padding: 2px;
}
#content-sub
{
	border: 1px solid #cccccc;
	padding: 2px;
}
#geocodepanel
{
	background-color: #fff;
	border: 1px solid #999;
	left: 5px;
   max-width: 300px;
	padding: 5px;
	position: absolute;
	top: 65px;
	z-index: 5;
}
#keyboard-shortcut-modal {
   display: none;
}
