html
{
	height: 100%;
}
body
{
	font: 12px/1.7 Verdana,'Lucida Grande', Arial, "Trebuchet MS", Helvetica, sans-serif;
	height: 100%;
	margin: 0px;
	overflow: hidden;
	padding: 0px;
	width: 100%;
}
.navbar {
   background-color: transparent;
   background: transparent;
}
.navbar li { color: #000 } 
#query
{
	width: calc(100% - (20px));
	width: -webkit-calc(100% - (20px));
}
#stats_nav
{
	border: 0px solid blue;
	display: inline-block;
	float: left;
	height: 60px;
	line-height: 20px;
	position: relative;
	text-align: left;
	vertical-align: middle;
	width: 100px;
}
#stats
{
	border: 0px solid red;
	display: inline-block;
	height: 40px;
	line-height: 20px;
	position: relative;
	text-align: left;
	top: 10px;
	vertical-align: middle;
}
#busy_indicator
{
	border: 0px red solid;
	display: inline-block;
	float: left;
	height: 60px;
	left: 20px;
	position: absolute;
	visibility: visible;
	width: 32px;
	z-index: 2;
}
#container
{
	border: 0px solid gray;
	height: 100%;
	left: 0px;
	margin: 0 0 0 0;
	overflow: hidden;
	padding: 0px;
	position: absolute;
	top: 0px;
	width: 100%;
}
#mapDiv
{
	background-color: rgb(229, 227, 223);
	border: 0px solid transparent;
	height: 100%;
	left: 0px;
	overflow: hidden;
	position: relative;
	top: 0px;
	width: 100%;
}
#content
{
	font-size: 10px;
	padding: 0;
}
#content b
{
	color: #205c6f;
}
#content-left
{
	display: inline-block;
	float: left;
	padding: 2px;
}
#content-right
{
	border: 0px solid #cccccc;
	display: inline-block;
	float: left;
	margin-left: auto;
	min-width: 180px;
	overflow: hidden;
	padding: 2px;
}
#content-sub
{
	border: 1px solid #cccccc;
	padding: 2px;
}
#geocodepanel
{
	background-color: #fff;
	border: 1px solid #999;
	left: 5px;
   max-width: 300px;
	padding: 5px;
	position: absolute;
	top: 65px;
	z-index: 5;
}
#keyboard-shortcut-modal {
   display: none;
}
#menuDiv
{
   right: 10px;
   top: 65px;
}
