body {
	font: 12px/1.7 Verdana,'Lucida Grande', Arial, "Trebuchet MS", Helvetica, sans-serif;
}

.outerContainer {
	width: 700px;
	height: 600px;
	clear: both;
}
.leftPanel {
	float: left;
	width: 250px;
	height: 550px;
	margin-right: 20px;
	overflow: hidden;
}
.leftPanelButton {
	border: 0;
}
.rightPanel {
	float: left;
	width: 430px;
	height: 550px;
}

.search {
	margin-top: 10px;
}
.search input {
	border-radius: 10px;
	border: 3px solid;
	width: 330px;
	padding: 5px;
	background-color: rgba(0,0,0,0.2);
}
.mainPanel {
	margin-top: 5px;
	height: 500px;
	overflow-x: hidden;
	overflow-y: auto;
}
#latLon input, #datetime input {
	border-radius: 7px;
	border: 1px solid rgb(120,160,224);
	padding: 3px;
	background-color: rgba(0,0,0,0.2);
	text-align: right;
}

.title {
	background: rgb(120,160,224);
	color: rgb(255,255,255);
	padding-left: 5px;
	font-size: 1.5em;
	font-weight: bold;
}
.subtitle {
	background: rgb(192,192,192);
	color: rgb(0,0,0);
	padding-left: 5px;
	font-size: 1.2em;
	font-weight: bold;
}
.errorLog {
	color: rgb(255,0,0);
	font-weight: bold;
}